@font-face {
    font-family: Inter-800;
    src: url(Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Inter-500;
    src: url(Inter-Medium.ttf);
}

@font-face {
    font-family: Inter-600;
    src: url(Inter-SemiBold.ttf);
}

@font-face {
    font-family: Inter-400;
    src: url(Inter-Regular.ttf);
}

body {
    margin: 0 auto;
    max-width: 550px;
    height: 729px;
}

#main {
    margin: 10px auto 0px auto;
    height: 285px;
    background: #6943FF;
    display: flex;
    flex-direction: column;
}

#heading {
    margin-top: 33px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Inter-800';
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

#input-box {
    margin: 30px auto 0px auto;
    box-sizing: border-box;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    font-family: 'Inter-800';
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#convert-btn {
    margin: 25px auto 34px auto;
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    font-family: 'Inter-500';
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    }

#bottom {
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

.group-box {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 108.57px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

#length {
    margin-top: 36px;
    margin-bottom: 23.43px;
}

#mass {
    margin-top: 23.43px;
    margin-bottom: 34.43px;
}

.unit-text {
    text-align: center;
    color: #CCC1FF;
    margin-top: 31px;
    margin-bottom: 9px;
    font-family: 'Inter-600';
    font-size: 20px;
    line-height: 20px;
}

.conversion-text {
    font-family: 'Inter-400';
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    line-height: 20px;
}